.about-container {
    display: flex;
    flex-flow: column;
}

.about-image {
    display: flex;
}

.about-text {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 850px;
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;
    line-height: 40px;
    padding-bottom: 60px;
    color: black;
}

.image {
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 60px;
    width: 250px;
}

@media only screen and (max-width: 800px) {
    .about-container {
      display: flex;
      flex-flow: column;
    }
    .about-text {
        width: 400px;
    }
    .image {
        width: 250px;
        height: 400px;
    }
  }
  
@media only screen and (max-width: 1024px) {
    .image {
        width: 250px;
        height: 400px;
    }
  }

@media only screen and (min-width: 1024px) {
    .image {
        width: 250px;
        height: 400px;
    }
  }

@media only screen and (max-width: 380px) {
    .about-text {
        width: 350px;
    }
  }