.contact-heading {
    font-size: 39px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 55px;
    padding-top: 80px;
    color: white;
}

.contact-text {
    font-size: 25px;
    text-align: center;
    padding-bottom: 40px;
    color: rgb(231, 229, 229);
}

.number {
    font-size: 23px;
    color: white
}

.email {
    font-size: 23px;
    color: white
}

.email:hover {
    border-bottom: 1px solid #fff;
    transition: all 0.2s ease-out;
}

.number:hover {
    border-bottom: 1px solid #fff;
    transition: all 0.2s ease-out;
}

.number-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-top: 20px;
}

#underline {
    color: white;
}

.link {
    text-decoration: none;
}

#underline {
    width: 60px;
    margin: 0 auto;
    border-width: 5px;
    border-top: 4px solid white;
    margin-top: 15px;
}

@media only screen and (max-width: 380px) {
    .contact-text {
        width: 300px;
        margin: 0 auto;
    }

    .number-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  }
@media only screen and (max-width: 1024px) {
    .number-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  }